@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<div class="text-center" >
    <h1>The Fastest and the most Reliable News in the World !</h1>
</div>
<br />
<br />
<br />


<div class="row">
    <div class="col-4">
        <div class="card ">
            <div class="card-header">
                ExampleNews
            </div>
            <div class="card-body">
                <h5 class="card-title">Headline</h5>
                <p class="card-text">Content</p>

            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Show More</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card ">
            <div class="card-header">
                ExampleNews
            </div>
            <div class="card-body">
                <h5 class="card-title">Headline</h5>
                <p class="card-text">Content</p>

            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Show More</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card ">
            <div class="card-header">
                ExampleNews
            </div>
            <div class="card-body">
                <h5 class="card-title">Headline</h5>
                <p class="card-text">Content</p>

            </div>
            <div class="card-footer text-muted">
                <a href="#" class="btn btn-primary">Show More</a>
            </div>
        </div>
    </div>


</div>