@page
@model HaberBursa.Pages.User.News.IndexModel
@{
}



<h1 class="text-center">HABER 16</h1>

<div class="row">
    <div class="col-4">
        <div class="card ">
            <div class="card-header">
                Can Yaman'dan hayranına edepsiz cevaplar
            </div>
            <div class="card-body">
                <h5 class="card-title">Bu ne görgüsüzlük !</h5>
                <p class="card-text">
                    İspanya'da bir programa katılan oyuncu Can Yaman, kendisine
                    "Senin bu dünyadan olduğunu kanıtlayacak bir şeyler anlatır mısın?" diyen kadın hayranına
                    "Arka odaya geçelim kanıtlayayım" şeklinde skandal bir yanıt verdi.
                </p>


            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card ">
            <div class="card-header">
                Danla Bilic'in son hali şok etti
            </div>
            <div class="card-body">
                <h5 class="card-title">Badem göz ameliyatı oldu</h5>
                <p class="card-text">Japonya seyahatinde oradaki insanlara özenip Türkiye'de badem göz ameliyatı oldu.</p>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card ">
            <div class="card-header">
                Fahriye Evcen'den instagram paylaşımı
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Fahriye evcen'in oğlu Karan ile olan instagram paylaşımına 2 saatte 1 milyon beğeni geldi.</p>

            </div>
            <div class="card-footer text-muted">

            </div>
        </div>
    </div>


</div>
